$pageTheme: darkBlue light dark;
$pageWrapBgColor: #131F32 #edeff9 black;
$pageMenuBgColor: #0E3D77 #fff black;
$pageListIconColor: #5676E8 #989BA3 black;
$pageAsideTreeNameColor: rgba(255, 255, 255, 0.7) #555 black;
