$border-color: transparent;
$td-color: #fff;
$tr-background-color: transparent;
$tr-hover-background-color: transparent;
$thead-background-color: transparent;
$thead-color: rgba(#fff, .8);
$checkbox-border-color: #4A6C97;

@import './default.scss';
