$border-color: transparent;
$td-color:#414141;
$tr-background-color: white;
$tr-hover-background-color: rgba(47,191,204,1);
$thead-background-color: white;
$thead-color: #414141;
$checkbox-border-color: #4A6C97;
@import './default.scss';
