$border-color: rgba(206, 225, 250, 0);
$td-color: #818181;
$tr-background-color: rgb(246, 250, 255);
$tr-hover-background-color: rgba(220, 234, 253, 1);
$thead-background-color: rgba(220, 234, 253, 1);
$thead-color: #818181;
$checkbox-border-color: #4A6C97;

@import './default.scss';
