$border-color: black;
$td-color: #2FBFCB;
$tr-background-color: rgba(24, 48, 91, 1);
$tr-hover-background-color: #4A6C97;
$thead-background-color: rgba(24, 48, 91, 1);
$thead-color: #2FBFCB;
$checkbox-border-color: #4A6C97;

@import './default.scss';
