$tab-bg: white;
$tab-border-color:white;
$tab-font-color: rgba(96, 99, 105, 1);
$tab-active-bg: rgba(47, 191, 204, 1);
$tab-active-border-color: transparent;
$tab-active-color: white;
@import './defaultButton.scss';