$tab-bg: rgba(23, 62, 106, 1);
$tab-border-color:rgba(45, 99, 159, 1);
$tab-font-color: rgba(255, 255, 255, 1);
$tab-active-bg: rgba(47, 191, 204, 1);
$tab-active-border-color: rgba(47, 191, 204, 1);
$tab-active-color:white;
@import './defaultButton.scss';