.el-table {
    background-color: transparent;
    border-color: $border-color;
    table {
        min-width: 100%;
    }

    .el-table__empty-block {
        min-width: 100%;
    }

    &.el-table--scrollable-y {
        border-bottom: 1px solid;
        border-bottom-color: $border-color;
    }

    .row-style {
        background-color: $tr-background-color;
        color: $td-color;
        &:hover,
        &.hover-row {
            background-color: $tr-hover-background-color;
            td {
                background-color: transparent;
            }
        }

        &.expanded+tr {
            background-color: $tr-hover-background-color;
            td.el-table__expanded-cell {
                background-color: $tr-hover-background-color;
                border-right-color: $border-color;
                border-bottom-color: $border-color;

                &:hover {
                    background-color: inherit !important;
                }
            }
        }
    }


    .cell-style {
        border: none;
        border-bottom: 1px solid $border-bottom-color;
    }

    .header-row-style {
        background-color: $thead-background-color;
        color: $thead-color;
    }

    .header-cell-style {
        border-color: $border-color;
        text-align: center;
        background-color: inherit;
    }

    .el-table__empty-block {
        border-right: 1px solid;
        border-right-color: $border-color;
        border-bottom: 1px solid;
        border-bottom-color: $border-color;

        .el-table__empty-text {
            color: $td-color;
        }
    }

    &:not(.el-table--border) {
        th,
        td {
            border-right: none;
        }
    }

    .el-checkbox__inner {
        background-color: transparent;
        border-color: $checkbox-border-color;
    }

    .is-checked,
    .is-indeterminate {
        .el-checkbox__inner {
            border-color: transparent;
        }
    }
}

.el-table--border::after,
.el-table--group::after,
.el-table::before {
    background-color: initial;
}

.el-table__fixed-right::before,
.el-table__fixed::before {
    background-color: initial;
}

.el-table__fixed-right,
.el-table__fixed {
    .el-table__fixed-body-wrapper {
        bottom: 0 !important;
    }
}
