$border-color: transparent;
$border-bottom-color: black;
$td-color:rgba(255,255,255, 0.7);
$tr-background-color: rgba(14, 61, 119, 1);
$tr-hover-background-color: mix(rgba(14, 61, 119, 1), rgba(255,255,255,0.7));
$thead-background-color: rgba(14, 61, 119, 1);
$thead-color: rgba(47, 191, 203, 1);
$checkbox-border-color: #4A6C97;
@import './defaultPage.scss';
