$border-color: transparent;
$border-bottom-color: transparent;
$td-color:#414141;
$tr-background-color: white;
$tr-hover-background-color: mix(#9c9b9b, rgba(255,255,255,1));
$thead-background-color: white;
$thead-color: #414141;
$checkbox-border-color: #4A6C97;
@import './defaultPage.scss';
