$input-bg: transparent;
$input-border-color:rgba(52, 210, 238, 0.5);
$input-font-color:rgba(71, 236, 255, 0.7);
$font-placeholder-color:rgba(71, 236, 255, 0.2);
$icon-color:rgba(71, 236, 255, 0.5);
@import './defaultInput.scss';