$input-bg: rgba(23, 62, 106, 0.8);
$input-border-color:rgba(45, 99, 159, 1);
$input-font-color:rgba(197, 201, 206, 1);
$font-placeholder-color: inherit;
$icon-color:rgba(255, 255, 255, 0.8);
@import './defaultInput.scss';