$btn-arrow-bg:rgba(23,62,106,1);
$btn-arrow-border-color:rgba(45,99,159,1);
$btn-arrow-color:rgba(255,255,255,0.8);
$btn-active-bg-color:rgba(47,191,204,0.7);
$btn-active-border-color:rgba(47,191,204,1);
$btn-active-color:#FFFFFF;
$btn-common-bg: rgba(23,62,106,1);
$btn-common-border-color:rgba(45,99,159,1);
$btn-common-color:rgba(255,255,255, 0.7);
$total-color:rgba(255,255,255, 0.8);
$btn-arrow-disabled-color:#637392;
$btn-arrow-disabled-border-color:#3a496d;
@import './defaultPagination.scss';