$border-color: transparent;
$td-color: rgba(177, 204, 244, 1);
$tr-background-color: transparent;
$tr-hover-background-color: rgba(21, 49, 140, 0.5);
$thead-background-color: rgba(21, 49, 140, 0.7);
$thead-color: rgba(67, 143, 255, 1);
$checkbox-border-color: rgba(189, 189, 189, 1);

@import './default.scss';
