$border-color: #0D2842;
$td-color: rgba(177, 204, 244, 1);
$tr-background-color: transparent;
$tr-hover-background-color:transparent;
$thead-background-color: rgba(13,45,79, 0.7);
$thead-color: rgba(67, 143, 255, 1);
$checkbox-border-color: rgba(189, 189, 189, 1);

@import './default.scss';