$pageTheme: darkBlue light dark;
$pageHeadSectionWordColor: #fff #73767C rgba(47,191,204,1);
$pageHeadSectionWordLightColor: #fff #73767C rgba(47,191,204,0.5);
$blockBorderColor: #fff #fff rgba(47,191,203,0.5);
$blockBgColor: transparent #fff transparent;
$sortBorderColor: rgba(47,191,203,0.5) #e6e6e6 rgba(47,191,203,0.5);
$blockLableColor: #fff, #606369, #fff;