$pageTheme: darkBlue light dark;
$pageWrapBgColor: #131F32 #edeff9 black;
$pageHeadSectionWordColor: #fff #333 #3fdcef;
$pageSectionBgColor: #0E3D77 #fff rgba(24,48,91,0.3);
$pageSectionDataNameColor: #fff #606369 #2CAFBD;
$pageSectionlabelNameColor: #fff #73757C #2CAFBD;
$pageSectionBigDataColor: #fff #606369 #47ECFF;
$pageSectionBorderColor: rgba(255,255,255,0) rgba(255,255,255,0) #1f6381;
$pageSectionActiveBgColor: #0E3D77 #fff rgba(24,48,91,1);
$pageChartButtonBgColor: #fff #fff #14294e;
$pageChartButtonColor: #606369 #606369 #2FBFCC;
$pageChartButtonBorderColor: #606369 #606369 #3ba5af;
$pageChartActiveButtonBgColor: #2FBFCC #2FBFCC #2FBFCC;
$pageChartActiveButtonColor: #fff #fff #fff;
$pageChartActiveButtonBorderColor: #2FBFCC #2FBFCC #3ba5af;

