$pageTheme: darkBlue light dark;
$pageHeadSectionWordColor: #fff #333 rgba(47,191,204,1);
$blockBorderColor: #fff #fff rgba(47,191,203,0.5);
$blockBgColor: transparent #fff transparent;
$sortBorderColor: rgba(47,191,203,0.5) #e6e6e6 rgba(47,191,203,0.5);