$pageTheme: light darkBlue dark;
$pageDeviceStatusBg: rgba(14, 61, 119, 1) rgba(14, 61, 119, 1) white;
$fontColor: rgba(255, 255, 255, .8) rgba(255, 255, 255, .8) #fff;
$stationNameColor: #fff #fff #fff;
$statusColor0: #3fad22 #3fad22 #3fad22;
$statusColor1: #db412f #db412f #db412f;
$statusColor2: #f90 #f90 #f90;
$statusColor3: #999 #999 #999;
$statusColor4: #8ADCF7 #8ADCF7 #8ADCF7;
$statusColor5: #5eb7da #5eb7da #5eb7da;
$statusColor6: #fff #fff #fff;
